body{
  margin:0;
  font-family:system-ui;
  color:white;
  }
  
  .screen{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:20px;
  text-align:center;
  padding:20px;
  }
  
  button{
  padding:12px 20px;
  font-size:18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  }
  
  .voteRow{
  margin-top:20px;
  }
  
  .voteButtons{
  display:flex;
  gap:10px;
  justify-content:center;
  margin-top:10px;
  }
  
  .voteButtons button{
  width:45px;
  height:45px;
  border-radius:50%;
  }
  
  .selected{
  background:#ff9800;
  color:white;
  }
  
  .bg1{
  background-image:url("/backgrounds/bg-1.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  }
  
  .bg2{
  background-image:url("/backgrounds/bg-2.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  }
  
  .bg3{
  background-image:url("/backgrounds/bg-3.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  }
  h1, h2, h3, p, label, span, div {
    color: #b30000;
  }
  